.modal-body {
    overflow-y: hidden;
    padding: 32px;
    color: white;
}

.actions-item {
    margin-right: 20px;
}

.modal-message {
    float: center;
}

.modal-button {
    margin-right: 10px;
}

.modal-buttons {
    float: right;
}